@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Serif 4', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: #000;
}

p{
    position: absolute;
    top: 35%;
    left: 2%;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
    word-spacing: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}

@media(max-width: 998px){
    html {
        font-size: 55%;
    }
    p{
        position: absolute;
        top: 20%;
        left: 2%;
        background-size: 400%;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 400;
        word-spacing: 2px;
    }
}

@media(max-width: 768px){
    html {
        font-size: 45%;
    }
    p{
        position: absolute;
        top: 10%;
        left: 2%;
        background-size: 400%;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 400;
        word-spacing: 2px;
    }
}